.webxr {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
}

.glcanvas {
    z-index: 1;
    transform: translateZ(0);
    pointer-events: none;
}

.launcher {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ar-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #074e68;
    color: white;
    height: 64px;
    line-height: 32px;
    border: 1px solid #042d3b;
    border-radius: 8px;
    padding: 0 16px;
    font-weight: 700;
    font-size: 16px;
    z-index: 10;
}

#ar-button:hover {
    background-color: #0d6c92;
}

#ar-button:active {
    background-color: #042633;
}

#ar-button img {
    width: 28px;
    height: 28px;
    padding: 4px;
}

#ar-button:focus {
    outline: none;
}

#ar-button:focus-visible {
    outline: 1px solid #4285f4;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: calc(env(safe-area-inset-top) + 10px);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 100;
}

.toolbar button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolButton img {
    width: 24px;
    height: 24px;
    padding: 4px;
}

.touch {
    top: 100px;
    left: 0;
    right: 0;
    bottom: 121px;
    position: absolute;
    z-index: 10;
}

.touch p {
    position: absolute;
    color: #fff;
    font-size: 12px;
    bottom: 10px;
    right: 0;
    left: 0;
}

.touch button:active {
    border: solid 2px #4285f4;
}

.slider {
    width: 100%;
    height: 120px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: env(safe-area-inset-bottom, 20px);
    text-align: center;
    overflow: hidden;
    z-index: 100;
}

.slides {
    position: absolute;
    left: 10px;
    right: 0;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    display: hide;
}

.slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: none;
    display: flex;
}

.slide.selected {
    border: 2px solid #4285f4;
}

.slide:focus {
    outline: none;
}

.slide:focus-visible {
    outline: 1px solid #4285f4;
}
